/*Colors used:
Primary - Black: #333333;
Primary - Dark Gray: #808080;
Primary - Gray: #CCCCCC;
Secondary - Yellow: #F0FA81;
Secondary - Lilac: #7e88c9
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #333333;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.title {
  font-size: 2.5em;
  margin: 24px 0;
  font-weight: 400;
}

.title span {
  font-size: 50%;
  display: block;
  margin-top: 0.3em;
}

p {
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  color: #333333;
  background-color: transparent;
  transition-duration: 0.6s;
}

a:visited {
  color: #808080;
  background-color: transparent;
}

a:hover {
  color: #CCCCCC;
  background-color: transparent;
}

a:active {
  color: #CCCCCC;
  background-color: transparent;
}

.button-base {
  background-color: #7e88c9;
  text-align: center;
  color: #333333;
  border-radius: 90px;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.6s;
}

.button-base:visited {
  background-color: #7e88c9;
  color: #333333;
  border-radius: 90px;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  display: inline-block;
}

.button-base:hover {
  background-color: #333333;
  color: #7e88c9;
  border-radius: 90px;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  display: inline-block;
}

.button-secondary {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: transparent;
  border-radius: 90px;
  color: #333333;
  border: 3px solid #7e88c9;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  transition-duration: 0.6s;
}

.button-secondary:visited {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: transparent;
  border-radius: 90px;
  color: #333333;
  border: 3px solid #7e88c9;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  transition-duration: 0.6s;
  text-decoration: none;
}

.button-secondary:hover {
  text-align: center;
  background-color: #333333;
  border-radius: 90px;
  color: white;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  transition-duration: 0.6s;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 40px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero {
  background-color: #f7f6f5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  font-size: 2em;
}

#hero h1 span {
  font-size: 50%;
  display: block;
  margin-top: 1em;
}

#hero h2 {
  font-size: 1.3em;
  padding-top: 24px;
  margin: 0;
}

.logo {
  max-width: 72px;
  animation: 2s logo-rotate infinite alternate linear;
}

/*.logo:hover{
transform: rotate(20deg);
}*/
@keyframes logo-rotate {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(-20deg);
  }
}

.logo-social {
  max-width: 48px;
}

header {
  background-color: #f7f6f5;
  text-align: center;
  padding: 12px 0;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 4px #cccccc;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 24px 0px 0px 0px
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}

nav>ul>li>a:visited {
  color: #333333;
}

nav>ul>li>a:hover {
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #333333;
}

main {
  padding-top: 140px;
}

/* -------END INTRO---------*/
/* -------START WORKS-HOME ---------*/
#works-home {
  padding-top: 24px;
}

#works-home p {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#works-home .section {
  display: inline-block;
}

/* -------END WORKS-HOME ---------*/
/* -------START FOOTER---------*/
footer {
  padding: 1em 0 1em 0;
  background-color: #f7f6f5;
}

.social>ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  padding: 2em 0 2em 0;
}

.social>ul>li {
  display: inline-block;
  padding: 0 12px 0 0;
}

.copyright>p {
  font-size: 0.75em;
  color: #cccccc;
  padding-bottom: 12px;
}

/* -------END FOOTER---------*/
/* -------START WORKS---------*/
#works .button-base {
  margin-top: 16px;
}

#works h3 {
  margin-top: 0;
}

/* -------END WORKS---------*/
/*--------AMOUNT START------*/
#hero-amount .container {
  margin-top: 40px;
}

#amount h3 {
  font-weight: 500;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  main {
    padding-top: 120px;
  }

  #hero {
    padding-top: 40px;
    padding-bottom: 32px;
    background-color: #f7f6f5;
    text-align: center
  }

  #hero h3 {
    text-align: center
  }

  #works-home h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    /*  padding-left: 32px;*/
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

  footer {
    text-align: center;
  }

  /*---------END HOME 640PX-----------*/
  /*---------START ABOUT 640PX-----------*/
  .padding-left {
    padding-left: 32px;
  }

  #about h2 {
    padding: 0;
    font-size: 24px;
  }

  #about h3 {
    margin-top: 0;
  }

  #home {
    padding-top: 100px;
  }


/*---------END about 640PX-----------*/



}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #home {
    padding-top: 100px;
  }

  #hero h1 {
    font-size: 4em;
  }

  .col-lg-7 {
    width: 60%;
    float: left;
  }

  .col-lg-5 {
    width: 40%;
    float: right;
  }

  p {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.8;
    margin-left: auto;
    margin-right: auto;
  }


/*---------START AMOUNT 1200PX-----------*/

  #amount h3 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
  }

}
