/* Colors used:
Primary - Black: #333333;
Primary - Dark Gray: #808080;
Primary - Gray: #CCCCCC;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.title {
  font-size: 2.5em;
  margin: 24px 0;
  font-weight: 400;
}

.title span {
  font-size: 50%;
  display: block;
  margin-top: 0.3em;
}

p {
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  color: #333;
  background-color: transparent;
  transition-duration: 0.6s;
}

a:visited {
  color: #333;
  background-color: transparent;
}

a:hover {
  color: #ccc;
  background-color: transparent;
}

a:active {
  color: #ccc;
  background-color: transparent;
}

.button-base {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Cormorant Upright', serif;
  text-align: left;
  color: #333;
  padding: 16px 24px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.6s;
  border-radius: 90px;
  border: 3px solid #333;
}

.button-base:visited {
  color: #333;
}

.button-base:hover {
  color: #808080;
  padding-left: 32px;
  border: 3px solid #808080;
}

.button-secondary {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Cormorant Upright', serif;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 16px 24px;
  border-radius: 90px;
  transition-duration: 0.6s;
  display: inline-block;
  text-align: center;
}

.button-secondary:visited {
  color: white;
  background-color: #333;
}

.button-secondary:hover {
  color: white;
  transition-duration: 0.6s;
  background-color: #808080;
  padding-left: 32px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 40px 0;
}

.logo {
  max-width: 72px;
  animation: 2s logo-rotate infinite alternate linear;
}

@keyframes logo-rotate {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(-20deg);
  }
}

.logo-social {
  max-width: 48px;
}

header {
  background-color: white;
  position: fixed;
  opacity: 95%;
  width: 100%;
  padding: 12px 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  text-decoration: none;
  font-weight: 500;
  padding: 12px 0;
  display: block;
}

.navtoggle li:not(:last-child) {
  display: none;
  text-align: right;
  font-size: 24px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
  padding-right: 0;
  color: #333;
  background-color: transparent;
}

nav>ul>li>a:visited {
  color: #333;
  background-color: transparent;
}

nav>ul>li>a:hover {
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #333;
  background-color: transparent;
}

main {
  padding-top: 90px;
}

/* -----------------START HERO--------------------- */
#hero {
  background-color: white;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.img-hero {
  background-image: url("img/hero_anna_altamura@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#hero h1 {
  font-size: 11vw;
  margin: 0 0 16px;
}

#hero h2 {
  font-weight: 400;
  font-size: 64px;
  font-family: 'Cormorant Upright', serif;
  position: absolute;
  z-index: 1;
  display: block;
  margin-top: 24px;
  text-align: left;
  padding: 0 0 0 15px;
}

#hero span {
  text-align: right;
  float: right;
  padding: 3vh 30px 0 0;
}

#hero .row {
  margin-top: 0;
  margin-bottom: 0;
}

/* --------------------END HERO-------------------- */
/* -------END INTRO--------- */
/* -------START WORKS-HOME --------- */
#works-home {
  padding-top: 24px;
}

#works-home p {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#works-home .section {
  display: inline-block;
}

/* -------END WORKS-HOME --------- */
/* -------START FOOTER--------- */
footer {
  padding: 1em 0;
  background-color: #f7f6f5;
  text-align: center;
}

/*
footer .button-secondary {
  margin-top: 24px;
}
*/
footer p {
  margin-bottom: 32px;
}

.social>ul {
  list-style-type: none;
  width: 100%;
  padding: 2em 0;
}

.social>ul>li {
  display: inline-block;
  padding: 0 12px 0 0;
}

.copyright>p {
  font-size: 0.75em;
  color: #ccc;
  margin-bottom: 12px;
}

/* -------END FOOTER--------- */
/* -------START WORKS--------- */
#works .button-base {
  margin-top: 16px;
}

#works h3 {
  margin-top: 0;
}

/* -------END WORKS--------- */
/* --------AMOUNT START------ */
#hero-project .container {
  margin-top: 40px;
}

#project h3 {
  font-weight: 500;
}

.quote-center {
  margin-left: auto;
  margin-right: auto;
}

#project .quote {
  font-size: 1em;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

#project [class*="col-"] {
  width: 100%;
}

#project h1 {
  font-weight: 500;
  margin-top: 16px;
  font-size: 3em;
}

.padding-right {
  padding-bottom: 16px;
}

#project .padding-left {
  padding-top: 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .button-secondary {
    display: inline;
    margin: auto;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
    padding: 0 16px;
    padding-top: 8px;
  }

  .navtoggle li:last-child {
    display: none;
    padding: 0 0 10px;
  }

  nav>ul>li {
    display: inline-block;
  }

  main {
    padding-top: 120px;
  }

  /* -------------------HERO +640PX------------------- */
  #hero {
    padding-top: 40px;
    padding-bottom: 32px;
  }

  #hero h1 {
    font-size: 32px;
    margin: 0 0 16px;
  }

  #hero h2 {
    font-weight: 400;
    font-size: 64px;
    font-family: 'Cormorant Upright', serif;
    position: absolute;
    z-index: 1;
    display: block;
    margin-top: 24px;
    text-align: left;
    float: left;
    padding: 0 0 0 15px;
  }

  #hero span {
    text-align: right;
    float: right;
    padding: 16px 30px 0 0;
    line-height: 0.8;
  }

  /* ----------------------END HERO +640PX---------------------------- */
  #works-home h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* ---------END HOME 640PX----------- */
  /* ---------START ABOUT 640PX----------- */
  .padding-left {
    padding-left: 32px;
  }

  #about img {
    width: 60%;
    display: block;
    margin: auto;
  }

  #about h2 {
    padding: 0;
    font-size: 24px;
  }

  #about h3 {
    margin-top: 0;
  }

  #home {
    padding-top: 100px;
  }

  /* ---------END about 640PX----------- */
  /* ---------START AMOUNT project 640PX----------------------- */
  #hero-project .container {
    margin-top: 40px;
  }

  #project h3 {
    font-weight: 500;
  }

  .quote-center {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #project [class*="col-"] {
    text-align: left;
  }

  #project .col-md-6 {
    width: 50%;
  }

  #project .col-md-3 {
    width: 30%;
  }

  #project .col-md-8 {
    width: 70%;
  }

  .padding-right {
    padding-right: 16px;
  }

  #project .padding-left {
    padding-left: 16px;
  }

  #project .quote {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
  }

  #project h1 {
    font-weight: 500;
    margin-top: 16px;
    font-size: 3em;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #home {
    padding-top: 100px;
  }

  /* ----------------------START HERO +1024------------- */
  #hero h1 {
    font-size: 48px;
    line-height: 1.4;
  }

  #hero h2 {
    font-size: 90px;
  }

  #hero span {
    padding: 10px 3vw 0 0;
    line-height: 0.8;
  }

  /* ----------------------END HERO +1024------------- */
  .col-lg-7 {
    width: 60%;
    float: left;
  }

  .col-lg-5 {
    width: 40%;
    float: right;
  }

  p {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.8;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
  Large devices (1024px or larger)
  ================================= */
@media only screen and (min-width: 1200px) {
  #hero h2 {
    font-size: 100px;
  }

  #hero span {
    padding: 10px 13vw 0 0;
    line-height: 0.8;
  }

  /* ---------START AMOUNT 1200PX----------- */
  #amount h3 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
  }
}
