/*Colors used:
Primary - Black: #333333;
Primary - Dark Gray: #808080;
Primary - Gray: #CCCCCC;
Secondary - Yellow: #F0FA81;*/
body {
  background-color: #ffffff;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}
h1 {
  font-size: 1.75em;
  font-weight: 600;
}
h2 {
  font-size: 2.25em;
  font-weight: 600;
}
h3 {
  font-size: 1.75em;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #333333;
  background-color: transparent;
}
a:visited {
  color: #808080;
  background-color: transparent;
}
a:hover {
  color: #CCCCCC;
  background-color: transparent;
}
a:active {
  color: #CCCCCC;
  background-color: transparent;
}
.button {
  display: inline-block;
  background-color: #F0FA81;
  color: #333333;
  padding: 10px;
  text-decoration: none;
}
.button:hover {
    background-color: transparent;
    color: #333333;
    border: 2px solid #F0FA81;
  text-decoration: none;
  transition: 0.2s opacity;
}
.button.email {
  display: inline-block;
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  transition: 0.2s opacity;
}
.button.email:hover {
    background-color: transparent;
    color: #333333;
    border: 2px solid #333333;
  text-decoration: none;
  transition: 0.2s opacity;
}

/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero{
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1{
  text-align: center;
}

.logo{
  max-width: 56px;

}

.logo-social{
  max-width: 48px;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 4px #cccccc;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

nav > ul > li > a:visited {
  color: #808080;
}

nav > ul > li > a:hover {
  color: #F0FA81;
}

nav > ul > li > a:active {
  color: #333333;
}

nav {
  display: inline-block;
  width: 100%;
}

#hero {
  background-color: #ffffff;
}

main {
  padding-top: 133px;
}
